#login-box {
margin: auto;
background-color: white;
padding:0.5rem;
width:50%;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
}
body {
background-color:black; 
#title {
font-size: 2.4rem;
margin: 0 auto;
}

